<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="STDOUT" />
    </logger>


    <root>
        <level value="TRACE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>